* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  overflow-x: hidden; }

html {
  font-size: 14px; }


body {
  font-family: "Lato", Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-image: url(../img/faithshare/bg1-cross.jpg);
	background-size: contain;
}

p {
  margin-bottom: 0.5rem; }

.container {
  max-width: 980px;
  margin: 0 auto; }

code, pre {
  padding: 0.5rem;
  background-color: #f6f8fa;
  color: #4A2AB2;
  line-height: 1.7; }

pre {
  padding: 0.5rem;
  margin-bottom: 1rem;
  overflow: auto; }

code {
  padding: 0.2rem;
  margin-bottom: 0.1rem;
  font-size: 90%;
  background-color: #f6f8fa;
  border-radius: .25rem; }
  code .pln,
  code .pun {
    color: #4A2AB2; }

.container-fluid {
	margin-top: -15px;
	padding-left: 10px;
	padding-right: 10px;}

.header-wrapper {
  padding: 5rem 0; }

.page-intro {
  text-align: center;
  line-height: 1.2; }
  .page-intro h1 {
    display: inline-block;
    font-weight: 300;
    font-size: 4rem;
    color: #7dffc3;
    background: -webkit-linear-gradient(135deg, #fff9b0, #7dffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .page-intro h2 {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #fff;
    margin-bottom: 2rem; }

.section-list {
  padding: 3rem 2.5rem;
  margin-bottom: 2rem;
  background: #fff; }
  @media (min-width: 576px) {
    .section-list {
      border-radius: 1rem; } }
  .section-list a {
    color: #4A2AB2; }
  .section-list h2 {
    margin-bottom: 1.25rem;
    font-size: 2rem;
    color: #4A2AB2; }

.section-list-box:not(:last-child) {
  border-bottom: 1px solid #dddddd;
  margin-top: 30px;
  padding-bottom: 5rem; }

.table {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1rem;
  border-collapse: collapse;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  .table thead th {
    padding: .75rem;
    vertical-align: top;
    text-align: left;
    border-top: 1px solid #eceeef;
    border-bottom: 2px solid #eceeef; }
  .table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef; }
  .table code {
    display: table; }

.row-large {
  width: 50%; }

.footer-wrapper {
  padding: 1rem 0;
  color: #fff;
  text-align: center; }
  .footer-wrapper a {
    color: currentColor; }

/*.timeline-container {
	width: 100%;
}*/

.timeline-theme-1 {
  max-width: 800px;
  margin: 100px auto; }

.timeline-1 .timeline-list {
  max-width: 800px;
  /*height: 350px;*/ 
}

.timeline-1 .timeline-item {
  width: calc(100vw - 40px);
  max-width: 800px;
  height: 85%;
  background: beige;
  border: none; }

.timeline-visual {
  width: 60%;
  margin: 0 auto;
  line-height: 1; 
  padding: 4%;}
.timeline-visual img {
    max-width: 100%; }

.timeline-detail {
  float: left;
  height: 100%;
}

.timeline-detail-list {
  margin: 10px;
  padding: 10px; }
  .timeline-detail-list li {
    margin-bottom: 0.4rem; }

.timeline-theme-2 {
  width: 600px;
  margin: 70px auto auto; }

.timeline-small-box .timeline-list {
  width: 600px;
  height: 250px; }

.timeline-small-box .box-item {
  float: left;
  width: 600px;
  height: 250px;
  color: #fff;
  text-align: center; }

.theme-1 {
  background: #4A2AB2; }

.theme-2 {
  background: #7dffc3; }

.theme-3 {
  background: #23A5E9; }

.theme-4 {
  background: #93C763; }

.theme-5 {
  background: #949923; }

.theme-6 {
  background: #990055; }

@media only screen and (max-width: 600px) {
    .timeline-visual {width: 60%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .timeline-visual {width: 60%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .timeline-visual {width: 100%;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .timeline-visual {width: 100%;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .timeline-visual {width: 100%;}
}

.pre-scrollable {
		max-height: 300px;
}
